$body-background-color: #0d1116;
$sidebar-color: #161b22;
$border-color: #8b949e;

$body-text-color: #c7d2d9;
$body-heading-color: #c7d2d9;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: #c7d2d9;

$link-color: #58a6ff;
$btn-primary-color: #161b22;
$base-button-color: #161b22;

$code-background-color: #161b22;
$search-background-color: #161b22;
$table-background-color: #0d1116;
$feedback-color: #c7d2d9;
